<div class="block-input-top">
  <div class="avatar-icon">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkdMZ2wQnkJTGTlk8PX8zg-OQENGxky2KgWKNYeblAq3GI5Uwm" width="60" alt="1">
  </div>
  <p class="question" *ngIf="viewP">Would you like to share your impressions?</p>
  <input type="text" class="form-control" placeholder="How are you?" [(ngModel)]="textUserEnter" (keyup.enter)="addTweetEnter($event)" (focus)="onFocus()" (blur)="onBlur()">
  <button class="btn btn-primary" (click)="addTweet()">Add tweet</button>
</div>

<div class="block-tweets">
  <app-tweet *ngFor="let tweet of tweets" [tweetItem]="tweet"></app-tweet>
</div>

