nav{
  height: 50px;
  background: #fff;
  color: deepskyblue;
}
nav .menu{
  width: 100px;
  height: 50px;
  padding: 20px 10px;
  border-bottom: 2px solid deepskyblue;
}

nav .menu a{
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}
div.app{
  padding-top: 10px;
  background: lightblue;
}
div.profile-left{
  display: inline-block;
  vertical-align: top;
  min-height: 50px;
  width: 20%;
  background: deepskyblue;
}
div.main-content-block{
  display: inline-block;
  vertical-align: top;
  min-height: 50px;
  width: 59%;
  background: greenyellow;
}

div.advertising{
  display: inline-block;
  vertical-align: top;
  min-height: 50px;
  width: 20%;
  background: greenyellow;
}

