nav{
  height: 50px;
  background: #fff;
  color: deepskyblue;
}
nav .menu{
  height:50px;
  padding: 20px 10px;
  border-bottom: 2px solid deepskyblue;
}
nav .menu ul{
  margin: 0;
  padding: 0;
}
nav .menu ul li{
  list-style: none;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}
nav .menu ul li a{
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: deepskyblue;
}
nav .menu ul li .material-icons{
  cursor: default;
}
nav .menu ul li a:hover{
  color: darkcyan;
}
div.app{
  padding-top: 10px;
  background: lightblue;
  min-height: 100vh;
}
div.profile-left{
  display: inline-block;
  vertical-align: top;
  min-height: 50px;
  width: 20%;
  background: deepskyblue;
}
div.main-content-block{
  display: inline-block;
  vertical-align: top;
  min-height: 100px;
  width: 59%;
  background: #fff;
}

div.advertising{
  display: inline-block;
  vertical-align: top;
  min-height: 100px;
  width: 20%;
}

