<nav>
  <div class="menu">
    <ul>
      <li><i class="material-icons md-dark">home</i></li>
      <li><a href="#" routerLink="/home-app"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}">Home</a></li>
      <li><i class="material-icons" >account_balance</i></li>
      <li><a href="#" routerLink="/connect-app"
             routerLinkActive="active" (click)="changeFilterNewsTopUsers()">Connect</a></li>
      <li><i class="material-icons">account_balance</i></li>
      <li><a href="#" routerLink="/discover-app"  routerLinkActive="active">Discover</a></li>
      <li class="logo-center"><a href="#" routerLink="/home-app"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
