<div class="main">
  <div class="avatar">
    <img src="{{tweetItem.imgAvatar}}" width="{{tweetItem.imgAvatarWidth}}" alt="{{tweetItem.imgAvatarAlt}}"/>
  </div>
  <p class="name-user">{{tweetItem.name}} <span><i>{{tweetItem.link}}</i></span> <span>{{tweetItem.time}}</span></p>
  <p class="user-text-content">{{tweetItem.text}}</p>
  <div class="user-add-file"><img src="{{tweetItem.image}}" width="{{tweetItem.width}}" alt="{{tweetItem.alt}}"></div>

  <button (click)="deleteTweet(tweetItem)" class="btn btn-delete"><i class="material-icons">highlight_off</i></button>
</div>
