<div class="app">
  <div class="top-users-list">
    <h2>Top Users</h2>
    <app-top-users *ngFor="let item of topUsers" [topUserInfo]="item" (click)="clickFn(item)"></app-top-users>
  </div>

<div class="content-block">
  <h1>Lorem!</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque excepturi impedit ipsa laudantium quibusdam quisquam repudiandae sit. Consectetur cupiditate est ipsam iusto maxime qui repellendus sunt temporibus vitae. Atque, explicabo.</p>
  <router-outlet></router-outlet>
</div>
</div>
