<div class="block-top-empty">
  <div class="block-image-profile">
    <i class="material-icons md-light">camera_enhance</i>
  </div>
</div>

<div class="info-profile-block">
  <div class="name-info">
    <p>{{nameUser}}</p>
    <p><i>@{{linkUser}}</i></p>
  </div>
  <div class="info-count">
    <p>Tweets</p>
    <p class="count-number">{{countTweets}}</p>
  </div>
</div>

<div class="info-followUsers">
  <h3>
    Subscriptions</h3>
  <ul>
     <li *ngFor="let item of followUsers">
       <button class="btn btn-default" type="" (click)="tweetsFilterName(item.id)">{{item.name}} {{item.id}}</button>
     </li>
   </ul>
</div>
