.block-top-empty{
  height: 120px;
  position: relative;
}
.block-image-profile{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border: 3px solid white;
  border-radius: 50%;
  background: deepskyblue;
  text-align: center;
  position: absolute;
  top: 85px;
  left: 20px;
}
.info-profile-block{
  background: #fff;
  width: 100%;
  min-height: 120px;

}
.name-info{
  font-size: 12px;
  padding-left: 50%;
  padding-top: 10px;
}
.name-info p,
.info-count p{
  margin: 0;
}
.info-count{
  padding-left: 10%;
  margin-top: 15px;
}
.count-number{
  font-size: 20px;
  color: deepskyblue;
  font-weight: bold;
  padding-left: 8%;
}
@media only screen and (max-width : 992px){
  .name-info{
    padding-left: 0%;
    text-align: center;
    padding-top: 40px;
  }
  .info-count{
    text-align: center;
    padding-left: 0px;
  }
  .count-number{
    padding-left: 0%;
  }
}

.info-followUsers{
  min-height: 120px;
  background: deepskyblue;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.info-followUsers ul{
  margin: 0;
  padding: 0;
}
.info-followUsers ul li {
  list-style-type: none;
  width: 100%;
  background: blueviolet;
}
.info-followUsers h3{
  text-align: center;
  color: #fff;
}
.info-followUsers ul li button{
  width: 100%;
}

